*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
html,
body{ 
    overflow-x: hidden;
    width: 100%;
    background: black;
 color: white;
 font-family:"Poppins", sans-serif;
}
nav{ 
    display: flex; 
    align-items: center;
    background: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(5px);
 justify-content: space-between;

}
.nav-item{
    display: flex;
    list-style: none;
 
}

.list ul li{
    cursor: pointer; 
}

 nav i{
        display: none;
    }
.myself span{
    
    color: rgba(121, 206, 255, 0.5);
   
    font-weight: 700;
    
}

.about-section,.services-section,.contact-section{
    
    background: rgba(9, 9, 22, 0.932);
    height: fit-content;
}
.about h1{
    color: skyblue;
}

.about-info h5,.part1 p{
 
    color:#6B7280 ;
}
.skills{
  
    color: white;
    width: 100%;
}
.skill1{
text-align: center;
}
.part2{
    display: flex;
}
.box1{
    text-align: center;
}
@media(max-width:220px){
    .skill1{
        display: block;
        margin: 0 auto;
    }
    .machine-learning{
        padding-top: 0 !important;
    }
    body .part2 {
        grid-template-columns: 1fr !important; /* More specific override */
    }
}
@media(max-width:400px){
   .part2{
    
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 6vmax;
   }
   .part2 > :last-child {
    grid-column: 1 / -1;
    justify-self: center;
} 
}

@media(max-width:500px){
    .machine-learning{
        display: block;
        margin: 0 auto;
        padding-top: 3vmax;
    }
     .skills{
        justify-content: space-between;
     }
    
}
@media(max-width:850px){
   
   
  nav i{
        display: block;
        font-size: 2.5vmax;
     
    }
/* 
     .list{
       overflow: hidden;
      position:absolute;
       right: -100%;
       top: 0;
       z-index: 1000;
       background: rgba(252, 251, 251, 0.11);
       backdrop-filter: blur(10px); 
       width: 35vmax;
     padding: 2.5vmax 0;
     transition: 0.5s ease;
     
 } */
 .menu-icon{
    position: relative;
    font-size: 2.3vmax;
 } 
.nav-item{
   display: none;
}
    /* .nav-item{ 
      position: relative;
         color: rgb(29, 28, 28);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 11vmax;
      
        overflow-x: hidden; 
     margin-bottom: 36vmax; */
         /*align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
         gap: 1.5rem; /*Space between items*/
     /* max-height: 100%; }*/
        
    
/*      
    .hero-items{
        position: relative;
         z-index: 1;
    } */
    .profile-img {
        position: relative;
        overflow: hidden;
    }
  .list i{
   
   justify-self: end;
   margin: 0vmax 1.7vmax;
  }
 
 .hero-info{
     display: flex;
     flex-direction: column !important;
 }
 .myself{
     width: 89% !important;
 }
 .myself p{
     font-size: 1.4vmax !important;
 }
}
@media(max-width:2500px){

    nav{
  height: 5vmax;
padding: 1vmax 2vmax;

    }
    .nav-item{
        color: white;
       
    }
    .logo{
     font-size: 1.3vmax;
    }
   
    .list ul{
         gap: 8.2vmax; 
         
    }
    .list ul li{
        font-size: 1.4vmax;
      
    }
   .hero-section{
   position: relative;
         margin-bottom: 10vmax;
         align-content: center;
       overflow: hidden;
       background: rgba(9, 9, 22,0.932); /* Solid dark color */

   }
   .hero-items{
    
    padding: 13vmax 2vmax;
      
   }
   .hero-info{
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-between;
       gap: 5vmax;
      
   }
   .profile-img{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .profile-img img{
       width: 32vmax;
   }
   .myself{
       width: 57%;
     
   }
   .myself span{
       font-size: 2vmax;
   }
   .myself h3{
       font-size: 4.5vmax;
   }
   .myself p{
   
       font-size: 1.2vmax;
       color:#6B7280 ;
       margin-top:0.5vmax ;
       line-height: 2.4vmax;
   }
   .myself button,.part1 button{
       margin-top: 1.5vmax;
       padding: 0.8vmax 1.6vmax;
       font-size: 1.5vmax;
       color: rgba(121, 206, 255, 0.712);
       border:0.1em solid rgba(121, 206, 255, 0.733);
       background: transparent;
   }
  .side-color{
    
     position: absolute;
     right: -6vmax;
     bottom: -14vmax;
      width: 20vmax;
      height: 28vmax;
    background: rgba(15, 137, 207, 0.877);
    border-radius: 0px;
    transform: rotate(-128deg);
    z-index: 1;
  }
  .about-section,.services-section{
     margin-bottom: 10vmax;
     padding: 2.7vmax 2.5vmax;
  }
  .about-section,.services-section,.contact-section{
      height: fit-content;
     
  }
  .contact-section{
    padding-top: 2.7vmax;
  }
 
  .about,.service{
      display: flex;
     align-items: center;
     gap: 5vmax;
  }
  .about h1,.service h1{
      font-size: 3vmax;
      color: skyblue;
  }
  .line1{
    position:relative;
   
      width: 60vw;
      height: 0.3vmax;
      background-color: skyblue;
  }
 .about-info{
     width: 80%;
     position: relative;
     top: 2vmax;
     justify-self: end;
 }
.about-info h5,.part1{
    font-size: 1.4vmax;
    line-height: 3.5vmax;
  
}
.skills{
  padding: 0 2vmax;
  display: flex;
  flex-wrap: wrap;
    align-items: center;
    margin-top: 7vmax;
   
}
.skills{
     gap: 22%;
}
.skill1 span{
    font-size: 2.5vmax;
    font-weight: 600;
}
.skill1 p,.service-name span{
  font-size: 1.2vmax;
}
.part1{
    padding-top: 3.5vmax;
    position: relative;
    padding-left: 4vmax;
}
.service-info h1{
  font-size: 2.2vmax;
}
.part1 p{
    width: 90%;
}
.part2{
    margin-top: 6vmax;
    display: grid;
  grid-template-columns: 33% 35% 33%;
  text-align: center;
}
.service-img img{
    width: 4vmax;
   

}
.service-img{
     display: flex;
    justify-content: center;
    align-items: center;
}
.service-name span{
   white-space: nowrap;
    font-size: 1.7vmax;
    font-weight: 600;
}
.service-name p{
    font-size: 1.3vmax;
}
.contact h1{
    font-size:2.3vmax;
    position: relative;
    bottom: 1vmax;
}
.contact-section{
     position: relative;
     text-align: center;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.email{
    display: flex;
    font-size: 1.2vmax;
    gap: 0.5vmax;
    border: 0.2vmax solid skyblue;
    color: skyblue;
  background: transparent;
    padding: 0.7vmax 1vmax;
    white-space: nowrap;
   justify-self: center;
  margin-bottom: 1.5vmax;
    
}
.contact-logo{
    position: relative;
    align-items: center;
    justify-self: center;
}
.email img{
    width: 1vmax;
}

.contact-logo img{
    width: 2vmax;
    margin-right: 1.2vmax;
}
.copyright{
  
    margin-top: 2vmax;
    width: 100%;
    border-top: 0.2vmax solid gray;
}
.copyright span{
   font-size: 1vmax;
  margin-top: 0.2vmax;
}

} 

 